<section id="{{ page.folder|replace({'_': ''}) }}" class="main style3 secondary">
    <div class="content">
        <header>
            <h2>{{ header.heading }}</h2>
            {{ content|raw }}
        </header>

        <div class="box">
            {% include "forms/form.html.twig" %}
        </div>
    </div>
</section>
