<footer id="footer">
    {% if theme_config.footer_icons|length > 0 %}
    <ul class="actions">
        {% for icon in theme_config.footer_icons %}
        <li><a href="{{ icon.link }}" class="icon {{ icon.icon }}"></a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if theme_config.footer_items|length > 0 %}
    <ul class="menu">
        {% for item in theme_config.footer_items %}
        <li>{{ item.item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</footer>
