{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="box style2">
    <header>
      <h2>{{ page.title }}</h2>
    </header>

    {{ page.content }}
  </section>
{% endblock %}
