{% extends 'partials/base.html.twig' %}

{% block content %}
{% if page.header.back_to_home_page is not empty %}
  {% set back = page.header.back_to_home_page %}
{% else %}
  {% set back = 'THEME_BIG_PICTURE.BACK_TO_HOME_PAGE'|t %}
{% endif %}
<section class="main style3 secondary">
    <div class="content container">
        <header>
            <h2>{{ page.header.title }}</h2>
        </header>
        {{ content }}

        <div class="12u">
            <ul class="actions">
                <li><a href="{{ base_url == '' ? '/' : base_url }}" class="button">{{ back }}</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
