{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="main style3 secondary">
    <div class="content container">
        <header>
            <h2>{{ page.header.title }}</h2>
        </header>
        {{ content }}

        <duv class="12u">
            <ul class="actions">
                <li><a href="{{ base_url == '' ? '/' : base_url }}" class="button">Back To Home Page</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
